p {
  font-family: Montserrat;
  text-align: center;
  font-size: 50px;
  margin-bottom: 0px;
  margin-top: 0xp;
}
/* tôi chế thêm tí hiệu ứng cho vui mắt :))) */
.title {
  font-weight: bold;
  font-size: 100px;
  cursor: pointer;
  transition: ease 5s;
}
.title:hover {
  opacity: 0.5;
  color: red;
}
.underlined {
  text-decoration: underline;
  cursor: pointer;

}
.underlined:active {
  opacity: 0.5;
}

.subtitle {
  transition: ease 2s;
  cursor: pointer;
}
.subtitle:hover {
  color: rgb(35, 142, 196)
}