.flexbox {
  display: flex;
  flex-direction: row;
}
.item1 {
  background-color: black;
  color: white;
  
}
.column2 {
  background-color: lightblue;

}
.column1 {
  background-color: lightpink;
  display: flex;
  align-items: center;
  justify-content: center;
}